@model List<DiaryEntryData>

<div class="table-responsive">
   <table class="table table-striped table-hover">
      <thead>
     <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Date</th>
        <th>Actions</th>
     </tr>
      </thead>
      <tbody>
         @foreach(var entry in Model){
               <tr>
                  <td>
                     @entry.Title
                  </td>
                  <td>
                     @entry.Content
                  </td>
                  <td>
                     @entry.CreatedDate
                  </td>
                   <td class="">
                      <a asp-controller="DiaryEntry" asp-action="EditDiary" asp-route-id="@entry.Id" class="text-blue btn btn-primary btn-sm">
                         Edit
                      </a>
                      <a asp-controller="DiaryEntry" asp-action="DeleteDiary" asp-route-id="@entry.Id" class="btn-danger btn-sm btn">
                        Delete
                      </a>
                   </td>
               </tr>
         }
      </tbody>
   </table>
</div>